{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest": true
  },
  "plugins": [
    "react"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "semi": ["error", "never"],
    "comma-dangle": ["error", "only-multiline"],
    "indent": ["error", 2, { "SwitchCase": 1, "ignoredNodes": ["JSXElement *"]  }],
    "jsx-quotes": ["error", "prefer-double"],
    "max-len": ["warn", { "code": 200 }],
    "no-console": "off",
    "operator-linebreak": ["error", "after", { "overrides": { "?": "ignore", ":": "ignore" } }],
    "quotes": [2, "double", {"avoidEscape": true, "allowTemplateLiterals": true}],
    "react/display-name": 0,
    "react/jsx-sort-props": 0,
    "react/jsx-indent-props": [2, "first"],
    "react/jsx-max-props-per-line": "warn",
    "react/no-unescaped-entities": 0,
    "react/no-children-prop": 0,
    "react/prop-types": [2, { "skipUndeclared": true }]
  },
  "globals": {
    "__dirname": true,
    "API_HOST": true,
    "DESKTOP": true,
    "firebase": true,
    "Int32Array": true,
    "module": true,
    "opr": true,
    "process": true,
    "Promise": true,
    "Raven": true,
    "require": true,
    "safari": true,
    "TradingView": true,
    "Uint8Array": true,
    "VERSION": true
  }
}
